<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/navbar.css" />
    <link rel="stylesheet" href="../css/shoppingcart.css" />
    <!--FontAwesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"/>
    

    <title>Deck'd | Carrito</title>
  </head>
  <body>
    <header>
      <h1 class="title">Deck'd</h1>
      <nav class="links">
        <a href="../index.html">Products</a>
        <a href="#" class="cart active"><i class="fa-solid fa-cart-shopping"></i><span id="lblCartCount">0</span></a>
      </nav>
    </header>
    <div class="main">
      <!--
        Content will change depending on whether the user added 
        products to cart or not
      -->
    </div>
    
    <!--SweetAlert-->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!--Shopping cart logic-->
    <script src="../script/shoppingcart.js"></script>
  </body>
</html>
