<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="../img/favicon.ico" />
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/navbar.css" />
    <link rel="stylesheet" href="../css/shoppingcart.css" />
    <!--FontAwesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"/>
    

    <title>Deck'd | Carrito</title>
  </head>
  <body>
    <header>
      <h1>Deck'd</h1>
      <div id="links" class="nav-menu">
        <a href="../index.html" >Home</a>
        <a href="mart.html">Products</a>
        <a href="#" class="cart active">
            <i class="fa-solid fa-cart-shopping"> 
            <span class='badge badge-warning' id='lblCartCount'>0</span></i>
        </a>
      </div>
  </header>
    <div class="main">
      <!--
        El conenido variará dependiendo de si el usuario
        agregó productos o no
      -->
    </div>
    
    <!--SweetAlert-->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!--Carrito de compras-->
    <script src="../script/loadItemAmount.js"></script>
    <script src="../script/shoppingcart.js"></script>
    <!--API para enviar email-->
    <script src="https://smtpjs.com/v3/smtp.js"></script>
  </body>
</html>

